/* ===============
    Colors
 ============== */

$purple-heart: #7429c6;
$vivid-violet: #c951e7;
$deep-purple: #672171;
$grayish-purplish-blue: #4a5567;
$gull-gray: #97a3b6;
$black-pearl: #030616;
$catskill-white: #f2f5f9;

/* ==================
    Typographies
 ================= */

$font-family: "Outfit", sans-serif;
$large-text: 2rem;
$medium-text: 1.25rem;
$small-text: 0.75rem;
$button-text: 0.875rem;
