@use "variables" as v;

*,
*::before,
*::after {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center center;
  background-image: linear-gradient(to right, v.$purple-heart, v.$vivid-violet);
}

main {
  width: min(80%, 520px);
}

article {
  background-color: v.$black-pearl;
  border-radius: 10px;
  padding: 2rem;
  color: white;
}

.game__container--heading {
  text-align: center;
  margin-block: 1rem;
  background-image: linear-gradient(
    90deg,
    v.$purple-heart 25%,
    v.$vivid-violet
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.random__words__container {
  background-color: v.$grayish-purplish-blue;
  text-align: center;
  font-size: v.$large-text;
  color: v.$gull-gray;
  letter-spacing: 15px;
  padding-block: 1rem;
  margin-block: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1rem 1rem 1rem black;
}

.game__status__container {
  font-size: v.$small-text;
  display: flex;
  justify-content: space-around;
  color: v.$grayish-purplish-blue;

  span {
    font-size: 1rem;
    color: v.$catskill-white;
  }
}

.game__status--tries {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dots__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dot {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: v.$grayish-purplish-blue;
}

.active {
  background-color: v.$purple-heart;
}

.matched__words__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 0.5rem;
  justify-content: space-around;
  margin-block: 3rem;

  @media (min-width: 640px) {
    column-gap: 1rem;
    padding-inline: 3rem;
  }
}

.letter__container {
  font-size: v.$medium-text;
  text-align: center;
  border: 2px solid v.$gull-gray;
  border-radius: 8px;
  padding-block: 0.7rem;
}

.buttons__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;

  @media (min-width: 640px) {
    column-gap: 2rem;
    padding-inline: 4.5rem;
  }

  button {
    outline: 3px solid transparent;
    border: none;
    border-radius: 8px;
    font-size: v.$button-text;
    color: v.$catskill-white;
    background-color: v.$vivid-violet;
    padding-block: 1rem;
    box-shadow: 0 4.4px 1px 0 v.$deep-purple;
  }
}
