@use 'variables' as v;
@use 'animation';
@use 'mixins' as m;

*,
*::before,
*::after {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
  @include m.grid-container($align: center, $justify: center);
  background-image: linear-gradient(to right, v.$purple-heart, v.$vivid-violet);
}

main {
  width: min(90%, 520px);
}

article {
  text-align: center;
  background-color: v.$black-pearl;
  border-radius: 10px;
  @include m.padding-setting(1rem, 1.5rem, 2.5rem, 1.5rem);
  color: white;

  @media (min-width: 640px) {
    @include m.padding-setting(2rem, 2rem, 2rem, 2rem);
  }
}

.game__container--heading {
  font-size: v.$large-text;
  margin-block: 1rem;
  background-image: linear-gradient(90deg, v.$purple-heart 25%, v.$vivid-violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.random__words__container {
  background-color: v.$grayish-purplish-blue;
  font-size: v.$large-text;
  color: v.$gull-gray;
  letter-spacing: 15px;
  padding-block: 1rem;
  margin-block: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1rem 1rem -1rem black;
  animation-name: puffIn;
  animation-duration: 1.5s;
}

.game__status__container {
  font-size: 0.92rem;
  @include m.flex-container(0, space-around, '');
  color: v.$grayish-purplish-blue;

  .game__status--mistakes {
    span {
      color: v.$catskill-white;
    }
  }

  @media (min-width: 640px) {
    font-size: v.$small-text;
  }
}

.game__status--tries {
  @include m.flex-container($gap: 0.5rem, $justify: '', $align: baseline);
}

.tries {
  span {
    color: currentColor;
  }
}

.dots__container {
  @include m.flex-container(0.2rem, '', center);

  @media (min-width: 640px) {
    column-gap: 0.5rem;
  }
}

.dot {
  width: 0.4rem;
  height: 0.415rem;
  border-radius: 50%;
  background-color: v.$grayish-purplish-blue;

  @media (min-width: 640px) {
    width: 0.4rem;
    height: 0.4rem;
  }
}

.active {
  background-color: v.$purple-heart;
}

.matched__words__container {
  @include m.grid-container($justify: center);
  margin-block: 3rem;
  animation-name: zoomIn;
  animation-duration: 2s;

  @media (min-width: 640px) {
    column-gap: 0.5rem;
    padding-inline: 1rem;
  }
}

.letter__container {
  width: 2.6rem;
  height: 3rem;
  font-size: v.$medium-text;
  color: v.$catskill-white;
  text-align: center;
  border: 2px solid v.$grayish-purplish-blue;
  border-radius: 8px;
  background: transparent;
  caret-color: transparent;

  &:focus-within {
    outline: 2px solid v.$vivid-violet;
    border: none;
  }

  @media (min-width: 640px) {
    width: 3.8rem;
    height: 3.2rem;
  }
}

.buttons__container {
  @include m.grid-container($columns: 2, $column-gap: 1rem);

  @media (min-width: 640px) {
    column-gap: 2rem;
    padding-inline: 4.5rem;
  }

  button {
    outline: 3px solid transparent;
    border: none;
    border-radius: 8px;
    font-size: v.$button-text;
    color: v.$catskill-white;
    background-color: v.$vivid-violet;
    padding-block: 0.75rem;
    box-shadow: 0 4.4px 1px 0 v.$deep-purple;
    transition: all 1ms ease-in-out;

    @media (min-width: 640px) {
      padding-block: 1rem;
    }

    &:active {
      transform: translateY(4.4px);
      box-shadow: none;
    }
  }
}
